// Article

.article {
  @extend %container-padding;
}
.article__title {
  @extend %ts-title-0;
  margin-bottom: var(--size-xs);
  a {
    background-color: var(--body-color);
    color: var(--base-color);
    text-decoration: none;
  }
  & + .article__content {
    margin-top: var(--size-md);
  }
  .article--sub & {
    @extend %ts-title-1;
  }
}
.article__content {
  margin-top: var(--size-md);
  & > *:not(.lg):not(pre):not(.embed-container):not(video) {
    max-width: var(--content-max-width);
  }
}

// Index
.article .index {
  padding: 0;
  margin: var(--size-md) 0;
}
.article .index__title {
  @extend %ts-title-3;
  margin-bottom: 0;
}

// Featured image
.article__featured {
  margin-top: var(--size-lg);
}

// Table of content
.article__toc {
  margin-top: var(--size-lg);
  margin-bottom: var(--size-lg);
  @extend %ts-small;
}
.toc__title {
  @extend %ts-title-1;
  margin-bottom: var(--size-sm);
}
.toc__title--sub {
   @extend %ts-title-3;
   margin-top: var(--size-xs);
}
.toc__list {
  &,
  &--sub {
    li {
      @extend .nav__item;
      padding-left: var(--size-sm);
      display: block;
      border-left: var(--border-sm) dotted var(--base-color);
    }
  }
}

// Figure
.article figure {
  img {
    width: 100%;
  }
  figcaption {
    margin-top: var(--size-xxs);
    @extend %ts-small;
  }
}
.article figure.sm {
  max-width: 100%;
  width: calc(50% - var(--size-sm));
  &:nth-child(odd) {
    margin-right: var(--size-sm);
  }
  img {
    width: 100%;
    margin: 0;
  }
  display: inline-block;
  vertical-align: top;
  margin-bottom: var(--size-md);
}

// List
.ts ul {
  list-style: none;
  padding: 0;
  li {
    padding-left: var(--size-md);
    position: relative;
    &:before {
      content: "-";
      position: absolute;
      left: 0;
      top: 0.1em;
    }
  }
  ul {
    margin-bottom: 0;
  }
}

// Article sub
.article--sub {
  border-top: var(--border-sm) solid var(--base-color);
  margin-top: var(--size-lg);
  padding-top: var(--size-lg);
}

// Article footer
.article footer {
  margin-top: var(--size-xl);
}

// Todo's
.ts .todo {
  display: table;
  @extend %font-body-italic;
  border: var(--border-sm) dotted var(--base-color);
  padding: var(--size-sm);
}

// Button
.ts .btn {
  display: inline-block;
  padding: var(--size-xs);
}

// Video
.ts video {
  max-width: auto;
  width: 100%;
  display: block;
}

// Embeded iframe
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Backlinks
.article__backlinks {
  border-top: var(--border-sm) dashed var(--base-color);
  // border-bottom: var(--border-sm) dashed var(--base-color);
  margin-top: var(--size-xl);
}