// Main
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .footer {
    margin-top: auto;
  }
}

// Header
.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
  .nav {
    padding-top: var(--size-md);
    padding-bottom: var(--size-xl);
    width: 100%;
    overflow: hidden;
  }
  // @extend %container-padding;
  .title {
    margin-right: var(--size-sm);
  }
}

// Navigation
.nav__list {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.nav__item {
  display: block;
  &:first-child {
    padding-left: var(--size-xxl);
    @include media('<xs') {
      padding-left: var(--size-xl);
    }
  }
  &:last-child {
    padding-right: var(--size-xxl);
    @include media('<xs') {
      padding-right: var(--size-xl);
    }
  }
  &:not(:last-child) {
    margin-right: var(--size-sm);
    @include media('<sm') {
      margin-right: var(--size-xs);
    }
  }
  margin-top: var(--size-xs);
  margin-bottom: var(--size-xs);
}

// Footer
.footer {
  @extend %container-padding;
  padding-top: var(--size-xxl);
  padding-bottom: var(--size-lg);
}

// Image
img {
  display: block;
}