.topbar {
  background-color: var(--base-color);
  color: var(--body-color);
  @extend %container-padding;
  padding-top: var(--size-sm);
  padding-bottom: var(--size-sm);
  text-align: center;
  font-size: var(--size-md);
  a {
    border: none;
    padding: 0;
    background: transparent;
    color: var(--body-color);
    text-decoration: underline;
  }
}