{% extends "base.html" %} {% set page_class = 'article' %} {% block content %}
{% set open = article['open'] | string() %}

<article
  class="article {% if (open == 'False') and (article['childs_slug']|length > 0) %} index {% endif %}"
  id="{{ article['slug'] }}"
>
  {# title #}
  <h1 class="article__title">{{ article['title'] }}</h1>
  {% if not article['no_interface'] %} {# parent #} {% if article['has_parent']
  %}
  <p class="article__parent">
    This article is part of:
    <a href="{{ article['parent_url'] }}">{{ article['parent'] }}</a>.
  </p>
  {% endif %} {# tags #} {% if article['tags'] %}
  <p class="article__tags">
    Tags: {% for tag in article['tags'] %}
    <a href="tag-{{ tag }}.html" class="tag__link">#{{ tag }}</a>
    {% endfor %}
  </p>
  {% endif %} {# childs #} {% if (open == 'False') and
  (article['childs_slug']|length > 0) %} {% if (article['content_first'] ==
  True) %}
  <section id="content" class="article__content ts">
    {{ article['content'] }}
  </section>
  {% endif %}
  <section class="index index--grid">
    <section class="index__list">
      {% for article in article['childs_slug'] %} {% set slug =
      articles[article]['slug'] %} {% set article = articles[article] %} {% if
      not article['draft'] %} {% include "components/index_item_content.html" %}
      {% with %}{% set childs_slug = articles[slug]['childs_slug'] %} {% include
      "components/childs_list.html" %} {% endwith %} {% endif %} {% endfor %}
    </section>
  </section>
  {% endif %} {% if open == 'True' %} {# toc #} {% if (article['toc']) or
  (article['childs'])%}
  <section class="article__toc">
    {% if article['childs'] %} {% for child in article['childs_slug'] %} {% set
    article_child = articles[child] %} {% if not article_child['draft'] %}
    <h3 class="toc__title">
      <a href="{{ article['slug'] }}.html#{{ article_child['slug'] }}"
        >{{ article_child['title'] }}&nbsp;↓</a
      >
    </h3>
    {% endif %} {% endfor %} {% endif %}
  </section>
  {% endif %} {% endif %} {# content #} {% if (article['content_first'] ==
  False) %}
  <section id="content" class="article__content ts">
    {{ article['content'] }}
  </section>
  {% endif %}
  <footer>
    <p>✎ <span>Created</span> {{ article['publication_date'] }}</p>
    <p>⁂ <span>Updated</span> {{ article['last_update'] }}</p>
    <a
      class="btn-vscode hidden"
      href="vscode://file/Users/antoine/repo/websites/personal-website/{{ article['path'] }}/{{ article['markdown'] }}"
      >↗ vscode</a
    >
  </footer>
  {# backlinks #} {% if article['backlinks_from'] %}
  <section class="article__backlinks ts">
    <h3>Other page(s) pointing to this page</h3>
    <ul>
      {% for backlink in article['backlinks_from'] %}
      <li><a href="{{ backlink}}.html">{{ backlink }}</a></li>
      {% endfor %}
    </ul>
  </section>
  {% endif %} {% endif %} {# childs #} {% if (open == 'True') and
  (article['childs']) %} {% for child in article['childs_slug'] if not
  articles[child]['draft'] %} {% set article_child = articles[child] %}
  <article class="article--sub" id="{{ article_child['slug'] }}">
    {# title #}
    <h1 class="article__title">
      {{ article_child['title'] }}&nbsp;<a
        href="{{ article_child['slug'] }}.html"
        >●</a
      >
    </h1>
    {# tags #} {% if article_child['tags'] %}
    <p class="article__tags">
      Tags: {% for tag in article_child['tags'] %}
      <a href="tag-{{ tag }}.html" class="tag__link">#{{ tag }}</a>
      {% endfor %}
    </p>
    {% endif %} {# content #}
    <section class="article__content ts">
      {{ article_child['content'] }}
    </section>
    {# childs #} {% if article_child['childs'] %}
    <section class="index index--grid">
      <section class="index__list">
        {% for child in article_child['childs_slug'] %} {% set slug =
        articles[child]['slug'] %} {% set article = articles[child] %} {% if not
        article['draft'] %} {% include "components/index_item_content.html" %}
        {% with %}{% set childs_slug = articles[slug]['childs_slug'] %} {%
        include "components/childs_list.html" %} {% endwith %} {% endif %} {%
        endfor %}
      </section>
    </section>
    {% endif %} {# footer #}
    <aside>
      <p>✎ <span>Created</span> {{ article_child['publication_date'] }}</p>
      <p>⁂ <span>Updated</span> {{ article_child['last_update'] }}</p>
      <a
        class="btn-vscode hidden"
        href="vscode://file/Users/antoine/repo/websites/personal-website/{{ article_child['path'] }}/{{ article_child['markdown'] }}"
        >✎ vscode</a
      >
    </aside>
  </article>
  {% endfor %} {% endif %}
</article>

<script>
  // show vscode button in local only
  var isLocal = window.location.href.startsWith("file://");
  var btnsCode = document.getElementsByClassName("btn-vscode");
  for (var i = 0; i < btnsCode.length; i++) {
    var btn = btnsCode[i];
    if (isLocal) {
      btn.classList.remove("hidden");
    }
  }
  // shortcut for vscode button
  if (isLocal) {
    var firstBtnCode = btnsCode[0];
    function handleClick() {
      firstBtnCode.click();
    }
    firstBtnCode.addEventListener("click", handleClick);
    function handleKeyboardShortcut(event) {
      if (event.ctrlKey && event.shiftKey && event.key === "D") {
        if (firstBtnCode) {
          firstBtnCode.click();
        }
      }
    }
    document.addEventListener("keydown", handleKeyboardShortcut);
  }
</script>

{% endblock %}
