{% extends "base.html" %} {% set page_class = 'content' %} {% block content %}

<section class="index index--grid">
  <h1 class="index__title">Content</h2>
  <section class="index__list">
    {% for article in articles if not articles[article]['has_parent'] and not articles[article]['draft'] %}
      {% set slug = articles[article]['slug'] %}
        {% set article = articles[slug] %}
        <div class="card-parent">
          {% include 'components/index_item_content.html' %}
        </div>
        {% with %}
          {% set childs_slug = articles[slug]['childs_slug'] %}
          {% include "components/childs_list_recursive.html" %}
        {% endwith %}
    {% endfor %}
  </section>
  <ul class="index__tags">
    {% for tag in tags %}
    <li><a href="tag-{{ tag }}.html" class="tag__link">#{{ tag }}</a></li>
    {% endfor %}
  </ul>
</section>

{% endblock %}


