{% extends "base.html" %} {% set page_class = 'homepage' %} {% block content %}

<article class="intro">{{ settings.introduction }}</article>

<section class="index">
  <ul class="grid grid--lg">
    {% for article in settings.index %}
    {% set slug = article %}
    {% set article = articles[article] %}
    <li class="grid__item">
      <a class="item__link" href="{{ article['url'] }}">
        {% if article['featured_image'] %}
        <img src="medias/{{ article['slug'] }}-{{ article['featured_image'] }}" alt="{{ article['featured_desc'] }}" class="item__img" loading="lazy">
        {% endif %}
        <h2 class="item__title">{{ article['title'] }}</h2>
        {% if article['featured_desc'] %}
        <p class="item__desc">{{ article['featured_desc'] }}</p>
        {% endif %}
        {% if article['action'] %}
        <span class="item__desc">{{ article['action'] }}</span>
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>



{% endblock %}