{% extends "base.html" %} {% set page_class = 'shop' %} {% block content %}



<article class="article index {{ page_class }}" id="{{ article['slug'] }}">
  {# title #}
  <h1 class="article__title">{{ article['title'] }}</h1>
  {% if (article['childs_slug']|length > 0) %}
  <section class="index index--grid">
    <ul class="grid lg">
      {% for article in article['childs_slug']|reverse %}
        {% set slug = articles[article]['slug'] %}
          {% set article = articles[slug] %}
          {% if not article['draft'] %}
            {% include 'components/shop_child.html' %}
          {% endif %}
      {% endfor %}
    </ul>
  </section>
  {% endif %}
</article>


{% endblock %}
