{% extends "base.html" %} {% set page_class = 'shop_item' %} {% block content %}



<article class="article {{ page_class }}" id="{{ article['slug'] }}">
  {# title #}
  <h1 class="article__title">{{ article['title'] }}</h1>

  <section id="content" class="article__content ts">
    {{ article['content'] }}
  </section>
  <footer>
    <p>✎ <span>Created</span> {{ article['publication_date'] }}</p>
    <p>⁂ <span>Updated</span> {{ article['last_update'] }}</p>
  </footer>

</article>


  {% endblock %}
  