<li class="index__item article--sub" id="{{ article['slug'] }}">
  <a class="item__link" href="{{ article['url'] }}">
    {% if article['featured_image'] %}
    <img src="{{ article['featured_image'] }}" alt="{{ article['featured_desc'] }}" class="item__img" loading="lazy">
    {% endif %}
    <span class="item__title">{{ article['title'] }}</span>
    <div class="item__price">€{{ article['featured_price'] }} EUR</div>
    {% if article['featured_desc'] %}
    <p class="item__desc">{{ article['featured_desc'] }}</p>
    {% endif %}
  </a>
</li>

